body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #animations-example-4 {
    height: 200px;
    max-width: 300px;
    margin: 0 auto;
  }
  #animations-example-4 tbody td {
    transform-origin: bottom;
    animation: revealing-bars 4s linear infinite;
  }
  @keyframes revealing-bars {
    0% {
      transform: scaleY(0);
    }
    15% {
      transform: scaleY(1);
    }
  }
  